@use 'components/fonts';

// https://www.color-name.com/hex/ea523d
$cpink: #ea523d;

.text-cpink {
    color: $cpink imo !important;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.app {
    min-height: 100vh;
}

.page-login {
    background-image: url(./pictures/login.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.page {
    min-height: 100vh;
    & > form {
        width: 90%;
        max-width: 900px;
        .form-floating label {
            font-weight: 400;
            color: rgb(126, 117, 117);
        }
        .btn-check ~ .btn {
            color: #fff;
        }
    }
}

//***** form-login*****//
.form-login {
    min-width: 50vw;
    background: rgba(224, 106, 90, 0.71);
    padding: 4%;
    // margin: 4%;
    border-radius: 20px;

    .btn {
        color: $cpink;
        width: 158px;
        height: 46px;
    }
}

//***** form-register*****//

.form-register {
    background: rgba(224, 106, 90, 0.71);
    padding: 3%;
    margin: 100px 4%;
    border-radius: 20px;
}

//*****Home*****//
.navbar-brand {
    color: $cpink;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: PoetsenOne;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover,
    &:active,
    &:focus {
        color: $cpink;
    }

    @media (max-width: 992px) {
        transform: scale(0.58);
    }
}
.navbar {
    .nav-link{
        color: $cpink;
    }
    min-height: 96px;
    & + .page {
        min-height: calc(100vh - 96px);
    }
}
.home-img{
    img{
            width: 572px;
            height: 456px; 
        }
    }