@use 'components/fonts';

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    font-family: 'PoetsenOne', sans-serif;
}

body,
.page {
    min-height: 100vh;
    background-image:url(./pictures/login.webp);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
}

//***** form-login*****//
.form-login {
    min-width: 50vw;
    background: rgba(224, 106, 90, 0.71);
    padding:4% ;
    width: 527px;
    height: 500px;
    margin:4%;

    .btn{
        color:#EA523D;
    }
}

//***** form-register*****//

.form-register{
    background: rgba(224, 106, 90, 0.71);
    padding:3%;
    margin:100px 4% ;

}