/**
 * Simple Reset
 */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}
