SITE_NAME='My New Website'
TZ_ID='Europe/Paris'
DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_HOST='localhost'
# DB_PORT=3306
# DB_CHARSET='utf8mb4'
# DB_COLLATE='utf8mb4_general_ci'

